/*
	Theme Name: eleven40 Pro Theme
	Theme URI: http://my.studiopress.com/themes/eleven40/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 2.0

	Tags: black, white, one-column, two-columns, three-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.0

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php 
*/

 
/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Page Title
		- Column Widths and Positions
		- Genesis Grid Loop
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Headings
	- Widgets
		- Featured Page and Featured Post
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Jetpack
		- Gravity Forms
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
	- Content Area
		- Entries
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Color Styles
		- eleven40 Pro Blue
		- eleven40 Pro Green
		- eleven40 Pro Red
	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.archive-pagination:before,
.author-box:before,
.clearfix:before,
.entry:before,
.entry-comments:before,
.entry-pagination:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.archive-pagination:after,
.author-box:after,
.clearfix:after,
.entry:after,
.entry-comments:after,
.entry-pagination:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}

/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	color: #333;
	font-family: 'Lora', serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.625;
}

body.eleven40-landing {
	background: url(images/texture.png);
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #222;
	color: #fff;
}

::selection {
	background-color: #222;
	color: #fff;
}

a {
	color: #ed702b;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 24px;
	margin: 0 0 2.4rem;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px 40px 24px;
	margin: 4rem 4rem 2.4rem;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
	padding: 0;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	display: block;
}

.featured-content img,
.gallery img {
	width: auto; /* IE8 */
}

.myfooter{
text-align:center;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-family: 'Lora', serif;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px;
	padding: 1.6rem;
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #222;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
	background-color: #ed702b;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

th,
td {
	text-align: left;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
	padding: 0.6rem 0;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.eleven40-landing .wrap {
	max-width: 800px;
}

.site-inner {
	clear: both;
	margin: 65px 0 40px;
	margin: 6.5rem 0 4rem;
}

.site-inner .wrap {
	border-bottom: double #ddd;
}

.eleven40-landing .site-inner {
	margin: 0;
	padding: 0;
}

.eleven40-landing .site-inner .wrap {
	border: none;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 950px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-sidebar-content .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap {
	float: right;
}

/* Content */

.content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	float: right;
	padding: 32px 40px 24px;
	padding: 3.2rem 4rem 2.4rem;
	width: 850px;
}

.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar .content {
	width: 660px;
}

.content-sidebar .content {
	border-left: none;
	float: left;
	padding-left: 0;
}

.content-sidebar-sidebar .content {
	border-left: none;
	float: left;
	padding-left: 0;
}

.sidebar-content-sidebar .content {
	float: left;
}

.sidebar-content .content {
	border-right: none;
	padding-right: 0;
}

.sidebar-sidebar-content .content {
	border-right: none;
	padding-right: 0;
}

.full-width-content .content {
	border: none;
	padding: 40px 0 0;
	padding: 4rem 0 0;
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 250px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 150px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* Genesis Grid Loop
--------------------------------------------- */

.genesis-grid-even,
.genesis-grid-odd {
	margin-bottom: 20px;
	margin-bottom: 2rem;
	width: 48%;
}

.genesis-grid-even {
	float: right;
}

.genesis-grid-odd {
	clear: both;
	float: left;
}

.genesis-grid .entry-title,
.genesis-grid .entry-title a {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 2.4rem;
}

.sticky {
}

.search-form {
	width: 50%;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 2.4rem
}

img.alignnone {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.featured-content .alignleft img,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
	margin: 0 2.4rem 2.4rem 0;
}

img.alignright,
.featured-content .alignright img,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
	margin: 0 0 2.4rem 2.4rem;
}

.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #f5f5f5;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 32px;
	margin-bottom: 3.2rem;
	padding: 12px 16px;
	padding: 1.2rem 1.6rem;
}

.archive-description,
.author-box {
	background-color: #8A8989;
	color: #fff;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	padding: 40px;
	padding: 4rem;
}

.sidebar-content-sidebar .archive-description,
.sidebar-content-sidebar .author-box {
	margin: 0 -40px 40px;
	margin: 0 -4rem 4rem;
}

.archive-description h1,
.author-box h1 {
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 4px;
	margin-bottom: 0.4rem;
}

.archive-description p,
.author-box p {
	font-size: 15px;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: 24px;
	margin-right: 2.4rem;
}

/* Headings
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
}

.entry-title a,
.sidebar .widgettitle a {
	color: #333;
}

.entry-title a:hover {
	color: #ed702b;
	text-decoration: none;
}

.widgettitle {
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
	text-transform: uppercase;
}

.site-header .widget-area .widgettitle {
	color: #fff;
	margin-bottom: 4px;
	margin-bottom: 0.4rem;
}

.sidebar .widgettitle a {
	border: none;
}

.archive-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Page and Featured Post
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
	padding: 0;
}

.featured-content .entry-title {
	font-size: 24px;
	font-size: 2.4rem;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

/* Genesis Latest Tweets
--------------------------------------------- */

.latest-tweets ul li {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}

/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	font-size: 1.6rem;
	padding: 16px;
	padding: 1.6rem;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
	margin: 1.6rem 0 0;
}

div.gform_wrapper .gform_footer input[type="submit"] {
	font-size: 14px;
	font-size: 1.4rem;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #147fbb;
	min-height: 65px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.header-image .site-header {
	padding: 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	width: 320px;
}

.site-title {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-size: 2.4rem;
	letter-spacing: 2px;
	letter-spacing: 0.2rem;
	line-height: 1;
	margin: 0;
	padding: 20px 0;
	padding: 2.0rem 0;
	text-transform: uppercase;
}

.header-image .site-title {
	padding: 0;
}

.site-title a,
.site-title a:hover {
	color: #fff;
	text-decoration: none;
}

.site-description {
	border-bottom: double #ddd;
	border-top: double #ddd;
	font-family: 'Lora', serif;
	font-size: 30px;
	overflow: hidden;
	margin: 40px 0 0;
	margin: 4rem 0 0;
	padding: 24px 0;
	padding: 2.4rem;
	text-align: center;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .title-area {
	padding: 0;
}

.header-image .site-title a {
	float: left;
	min-height: 65px;
	width: 100%;
}


/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	color: #fff;
	float: right;
	text-align: right;
	width: 800px;
}

.site-header .search-form {
	float: right;
	margin-top: 6px;
	margin-top: 0.6rem;
}

.site-header .widget_text {
	margin-top: 12px;
	margin-top: 1.2rem;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: 1px;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	border: none;
	color: #fff;
	display: block;
	padding: 22px 18px;
	padding: 2.2rem 1.8rem;
	position: relative;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a {
	color: #ed702b;
	text-decoration: none;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 190px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	letter-spacing: 0;
	padding: 16px 20px;
	padding: 1.6rem 2rem;
	position: relative;
	width: 190px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 189px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 22px 18px;
	padding: 2.2rem 1.8rem;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
	margin-left: 4.8rem;
}

.genesis-nav-menu > .search {
	padding: 8px 12px 0 0;
	padding: 0.8rem 1.2rem 0 0;
}

.genesis-nav-menu .search-form {
	width: 100%;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu a {
	background: url(images/texture.png);
}

.site-header .current-menu-item > a,
.site-header .genesis-nav-menu a:hover,
.site-header .sub-menu a:hover {
	color: #ed702b;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary,
.nav-primary .sub-menu a {
	background: url(images/texture.png);
}

.nav-primary {
	border-top: 1px solid #fff;
}

.nav-primary .wrap {
	border: none;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a,
.nav-primary .sub-menu a:hover,
.nav-primary .sub-menu .current-menu-item > a:hover {
	color: #ed702b;
}

.nav-primary .sub-menu .current-menu-item > a {
	color: #fff;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary,
.nav-secondary .sub-menu a {
	background: url(images/texture.png);
}

.nav-secondary {
	border-top: 1px solid #fff;
}

.nav-secondary .wrap {
	border: none;
}

.nav-secondary a:hover,
.nav-secondary .current-menu-item > a,
.nav-secondary .sub-menu a:hover,
.nav-secondary .sub-menu .current-menu-item > a:hover {
	color: #ed702b;
}

.nav-secondary .sub-menu .current-menu-item > a {
	color: #fff;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.single .entry {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}

.eleven40-landing .entry {
	background-color: #fff;
	padding: 40px 40px 16px;
	padding: 4rem 4rem 1.6rem;
}

.entry-content ol,
.entry-content p,
.entry-content ul {
	margin-bottom: 26px;
	margin-bottom: 2.6rem;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
	margin-left: 4rem;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul,
.entry-content .wp-caption p {
	margin-bottom: 0;
}

.entry-meta {
	clear: both;
	color: #999;
	font-size: 14px;
	font-size: 1.4rem;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
	margin-bottom: 2.4rem;
}

.entry-footer .entry-meta {
	border-top: double #ddd;
	padding-top: 12px;
	padding-top: 1.2rem;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
	margin: 0 0.6rem 0 0.2rem;
}

.entry-categories,
.entry-tags {
	display: block;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	clear: both;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 40px 0;
	margin: 4rem 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: #222;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
	padding: 0.8rem 1.2rem;
}

.archive-pagination a:hover,
.archive-pagination li.active a {
	background-color: #ed702b;
	text-decoration: none;
}

/* Comments
--------------------------------------------- */

.entry-comments,
.ping-list {
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
	margin-right: 1.2rem;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	margin-top: 2.4rem;
	padding: 32px;
	padding: 3.2rem;
}

.comment-list li li {
	margin-right: -32px;
	margin-right: -3.2rem;
}

.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff; 
	border-right: none; 
}

.comment .avatar {
	margin: 0 16px 24px 0;
	margin: 0 1.6rem 2.4rem 0;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px;
	padding: 2.4rem;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	display: inline;
	font-size: 14px;
	font-size: 1.4rem;
	padding-top: 32px;
	padding-top: 3.2rem;
}

.sidebar p:last-child,
.sidebar ul {
	margin-bottom: 0;
}

.sidebar li {
	border-bottom: 1px solid #ddd;
	list-style-type: none;
	margin-bottom: 8px;
	margin-bottom: 0.8rem;
	padding-bottom: 8px;
	padding-bottom: 0.8rem;
	word-wrap: break-word;
}

.widget ul > li:last-child {
	border-width: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.sidebar .widget {
	margin-bottom: 40px;
	margin-bottom: 4rem;
}

.sidebar .search-form {
	width: 100%;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #3f494e;
	color: #999;
	clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 40px 0 8px;
	padding: 4rem 0 0.8rem;
}

.footer-widgets-1,
.footer-widgets-3 {
	width: 350px;
}

.footer-widgets-2 {
	width: 360px;
}

.footer-widgets-1 {
	margin-right: 40px;
	margin-right: 4rem;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets .widget {
	margin-bottom: 32px;
	margin-bottom: 3.2rem;
}

.footer-widgets .entry-title a,
.footer-widgets .widgettitle {
	color: #fff;
}

.footer-widgets li {
	border-bottom: 1px solid #333;
	list-style-type: none;
	margin-bottom: 8px;
	margin-bottom: 0.8rem;
	padding-bottom: 8px;
	padding-bottom: 0.8rem;
	word-wrap: break-word;
}

.footer-widgets .search-form {
	width: 100%;
}

.footer-widgets .latest-tweets li span a {
	color: #ccc;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: 14px;
	font-size: 1.4rem;
	padding: 24px 0;
	padding: 2.4rem 0;
	text-align: center;
}

.site-footer,
.site-footer a {
	color: #333;
}

.site-footer a:hover {
	color: #ed702b;
}

.site-footer p {
	margin-bottom: 0;
}


/*
Color Styles
---------------------------------------------------------------------------------------------------- */

.eleven40-pro-blue .archive-pagination a,
.eleven40-pro-blue .footer-widgets .entry-title a, 
.eleven40-pro-blue .genesis-nav-menu a,
.eleven40-pro-blue .site-title a,
.eleven40-pro-blue .site-title a:hover,
.eleven40-pro-green .archive-pagination a,
.eleven40-pro-green .footer-widgets .entry-title a, 
.eleven40-pro-green .genesis-nav-menu a,
.eleven40-pro-green .site-title a,
.eleven40-pro-green .site-title a:hover,
.eleven40-pro-red .archive-pagination a,
.eleven40-pro-red .footer-widgets .entry-title a, 
.eleven40-pro-red .genesis-nav-menu a,
.eleven40-pro-red .site-title a,
.eleven40-pro-red .site-title a:hover {
	color: #fff;
}

.eleven40-pro-blue .entry-title a,
.eleven40-pro-green .entry-title a,
.eleven40-pro-red .entry-title a {
	color: #333;
}

/* eleven40 Pro Blue
--------------------------------------------- */

.eleven40-pro-blue a,
.eleven40-pro-blue .entry-title a:hover,
.eleven40-pro-blue .genesis-nav-menu a:hover,
.eleven40-pro-blue .genesis-nav-menu .current-menu-item > a,
.eleven40-pro-blue .nav-primary .sub-menu a:hover,
.eleven40-pro-blue .nav-secondary .sub-menu a:hover,
.eleven40-pro-blue .site-footer a:hover,
.eleven40-pro-blue .site-header .sub-menu a:hover {
	color: #2aa4cf;
}

.eleven40-pro-blue button:hover,
.eleven40-pro-blue input:hover[type="button"],
.eleven40-pro-blue input:hover[type="reset"],
.eleven40-pro-blue input:hover[type="submit"],
.eleven40-pro-blue .archive-pagination a:hover,
.eleven40-pro-blue .archive-pagination li.active a {
	background-color: #2aa4cf;
}

/* eleven40 Pro Green
--------------------------------------------- */

.eleven40-pro-green a,
.eleven40-pro-green .entry-title a:hover,
.eleven40-pro-green .genesis-nav-menu a:hover,
.eleven40-pro-green .genesis-nav-menu .current-menu-item > a,
.eleven40-pro-green .nav-primary .sub-menu a:hover,
.eleven40-pro-green .nav-secondary .sub-menu a:hover,
.eleven40-pro-green .site-footer a:hover,
.eleven40-pro-green .site-header .sub-menu a:hover {
	color: #6ca741;
}

.eleven40-pro-green button:hover,
.eleven40-pro-green input:hover[type="button"],
.eleven40-pro-green input:hover[type="reset"],
.eleven40-pro-green input:hover[type="submit"],
.eleven40-pro-green .archive-pagination a:hover,
.eleven40-pro-green .archive-pagination li.active a {
	background-color: #6ca741;
}

/* eleven40 Pro Red
--------------------------------------------- */

.eleven40-pro-red a,
.eleven40-pro-red .entry-title a:hover,
.eleven40-pro-red .genesis-nav-menu a:hover,
.eleven40-pro-red .genesis-nav-menu .current-menu-item > a,
.eleven40-pro-red .nav-primary .sub-menu a:hover,
.eleven40-pro-red .nav-secondary .sub-menu a:hover,
.eleven40-pro-red .site-footer a:hover,
.eleven40-pro-red .site-header .sub-menu a:hover {
	color: #cf4344;
}

.eleven40-pro-red button:hover,
.eleven40-pro-red input:hover[type="button"],
.eleven40-pro-red input:hover[type="reset"],
.eleven40-pro-red input:hover[type="submit"],
.eleven40-pro-red .archive-pagination a:hover,
.eleven40-pro-red .archive-pagination li.active a {
	background-color: #cf4344;
}


/*My CSS Added*/

.mybutton{
    text-align: center;
    text-decoration: none;
    padding: .75em 1em;
    color: #fff;
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: #3f494e;
    /* background-image: -webkit-linear-gradient(#009fd4,#09c,#0086b2); */
    /*background-image: -moz-linear-gradient(#009fd4,#09c,#0086b2);*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.4);
    border: 1px solid #3f494e;
    cursor: pointer;
}


.notice{
    margin:35px 0; 
    text-align: center;
    text-decoration: none;
    padding: .75em 1em;
    color: #fff;
    display: block;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: #3f494e;
    /* background-image: -webkit-linear-gradient(#009fd4,#09c,#0086b2); */
    /*background-image: -moz-linear-gradient(#009fd4,#09c,#0086b2);*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px rgba(0,0,0,.3),inset 0 1px 0 rgba(255,255,255,.4);
    border: 1px solid #3f494e;
}

.mybutton:hover{
  background-color:#4d4d4d;
  transition:0.5s;
}

.notice:hover{
  background-color:#4d4d4d;
  transition:0.5s;
}

.notice a{
  font-size:150%;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

/* Desktops, laptops and iPads (landscape)
--------------------------------------------- */

@media only screen and (max-width: 1139px) {

	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

}

/* iPads (portrait)
--------------------------------------------- */

@media only screen and (max-width: 1023px) {

	.header-image .site-header .title-area {
		background-position: center center !important;
	}

	.wrap {
		max-width: 768px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header {
		position: relative;
	}

	.site-inner {
		margin-top: 0;
		padding-left: 5%;
		padding-right: 5%;
	}

	.comment-respond,
	.entry,
	.entry-comments,
	.entry-footer .entry-meta,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-header .title-area,
	.site-header .search-form,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
		padding: 2rem 1.6rem;
	}

	.site-header .search-form {
		margin: 16px auto ;
		margin: 1.6rem auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.content {
		border: none;
		padding-left: 0;
		padding-right: 0;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
		padding-top: 1.2rem;
	}

	.author-box {
		padding: 20px;
		padding: 2rem;
	}

	.sidebar-content-sidebar .author-box {
		margin-left: 0;
		margin-right: 0;
	}

	.footer-widgets {
		padding: 40px 5% 16px;
	}

	.footer-widgets-1 {
		margin: 0;
	}

}

/* iPhones (portrait and landscape)
--------------------------------------------- */

@media only screen and (max-width: 767px) {

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.genesis-grid-even,
	.genesis-grid-odd {
		width: 100%;
	}

}

@media only screen and (max-width: 320px) {

	.header-image .site-header .title-area {
		background-size: contain !important;
	}

}