/* FBL:Tab */
#feedbacklite{-webkit-transform:translateZ(0) !important; cursor:pointer !important; display:block; z-index:999999997 !important;}
#feedbacklite_wrapper{display:none; left:0px !important; margin:0px !important; overflow-x:hidden !important; padding:0px !important; position:absolute !important; top:0px !important; width:100% !important; z-index:9999999998 !important; pointer-events:none !important;}
.fbl_tl{height:35px !important; position:fixed !important; top:0 !important; left:0 !important; width:100px !important;}
.fbl_tr{height:35px !important; position:fixed !important; top:0 !important; right:0 !important; width:100px !important;}
.fbl_rt{height:100px !important; position:fixed !important; top:0 !important; right:0 !important; width:35px !important;}
.fbl_r{height:100px !important; position:absolute !important; top:175px !important; right:0 !important; width:35px !important;}
.fbl_rb{height:100px !important; position:fixed !important; bottom:0 !important; right:0 !important; width:35px !important;}
.fbl_br{height:35px !important; position:fixed !important; bottom:0 !important; right:0 !important; width:100px !important;}
.fbl_bl{height:35px !important; position:fixed !important; bottom:0 !important; left:0 !important; width:100px !important;}
.fbl_lb{height:100px !important; position:fixed !important; bottom:0 !important; left:0 !important; width:35px !important;}
.fbl_l{height:100px !important; position:absolute !important; top:175px !important; left:0 !important; width:35px !important;}
.fbl_lt{height:100px !important; position:fixed !important; top:0 !important; left:0 !important; width:35px !important;}

/* FBL:Box */
#feedbacklite_box{background-color:#666 !important; font-family:Arial !important; overflow:hidden !important; pointer-events:auto !important;}
#feedbacklite_box .fbl_controller{display:none; height:auto !important; min-height:100px !important;}
#feedbacklite_box .fbl_thank_you{display:none; height:156px !important;}
#feedbacklite_box .feedbacklite_box_c{background-color:#666 !important; padding:10px !important;}
.fbl_box_sml, .fbl_box_med{min-height:100px; width:320px !important;}
.fbl_box_lrg{min-height:100px; width:540px !important;}
#feedbacklite_box .load_fx{background-image:url('https://product.feedbacklite.com/img/loader_squares.gif') !important; background-repeat:no-repeat !important; margin:0 auto !important; position:relative !important; top:45px !important; width:43px !important;}

/* FBL:Box Slider V */
.fbl_box_slider_v_tl{top:0 !important; border-radius:0 0 5px 0 !important; position:fixed !important; }
.fbl_box_slider_v_tr{top:0 !important; border-radius:0 0 0 5px !important; position:fixed !important; }
.fbl_box_slider_v_rt{top:0 !important; border-radius:0 0 0 5px !important; position:fixed !important; }
.fbl_box_slider_v_r{border-radius:5px 0 0 5px !important; position:absolute !important; }
.fbl_box_slider_v_rb{bottom:0 !important; border-radius:5px 0 0 0 !important; position:fixed !important; }
.fbl_box_slider_v_br{bottom:0 !important; border-radius:5px 0 0 0 !important; position:fixed !important; }
.fbl_box_slider_v_bl{bottom:0 !important; border-radius:0 5px 0 0 !important; position:fixed !important; }
.fbl_box_slider_v_lb{bottom:0 !important; border-radius:0 5px 0 0 !important; position:fixed !important; }
.fbl_box_slider_v_l{border-radius:0 5px 5px 0 !important; position:absolute !important; }
.fbl_box_slider_v_lt{top:0 !important; border-radius:0 0 5px 0 !important; position:fixed !important; }

/* FBL:Box Slider H */
.fbl_box_slider_h_l{left:-320px;}
.fbl_box_slider_h_r{right:-320px;}
.fbl_box_slider_h_l_lrg{left:-540px;}
.fbl_box_slider_h_r_lrg{right:-540px;}
 
/* FBL:Box Common */
#feedbacklite_box .clear{clear:both !important;}
#feedbacklite_box .click{cursor:pointer !important;}
#feedbacklite_box h3{font-size:32px !important; font-style:normal !important; font-weight:normal !important; color:#ffffff !important; line-height:36px !important; margin:5px 0 10px 0 !important; padding:0 !important;}
#feedbacklite_box h4{font-size:24px !important; font-style:normal !important; font-weight:normal !important; color:#f1f1f1 !important; line-height:30px !important; margin:0 0 10px 0 !important; padding:0 !important;}
#feedbacklite_box h5{font-size:16px !important; font-style:normal !important; font-weight:normal !important; color:#f1f1f1 !important; line-height:20px !important; margin:0 0 10px 0 !important; padding:0 !important;}
#feedbacklite_box input.radio{-webkit-appearance:radio !important; bottom:0px !important; cursor:pointer !important; display:inline-block !important; height:13px !important; left:0px !important; margin:0 5px 0 0 !important; padding:0 !important; right:0px !important; vertical-align:top !important; width:12px !important; top:0px !important;}
#feedbacklite_box input.submit, #feedbacklite_box input.submit_lrg, #feedbacklite_box input.submit_med, #feedbacklite_box input.subscribe{-webkit-appearance:none !important; background-color:#00a9c5 !important; background-image:none !important; border-radius:5px !important; border:none !important; bottom:0px !important; box-shadow:none !important; color:#fff !important; cursor:pointer !important; font-family:Arial !important; font-style:normal !important; font-weight:normal !important; left:0px !important; line-height:normal !important; margin:0 !important; outline-width:0 !important; right:0px !important; text-indent:0 !important; text-shadow:none !important;  text-transform:none !important; top:0px !important;}
#feedbacklite_box input.submit{font-size:12px !important; height:30px !important; min-height:30px !important; min-width:57px !important; padding:7px 10px !important; width:auto !important;}
#feedbacklite_box input.submit_lrg{font-size:18px !important; height:45px !important; min-height:45px !important; padding:10px 15px !important; width:auto !important;}
#feedbacklite_box input.submit_med{font-size:12px !important; height:30px !important; min-height:30px !important; padding:7px 10px !important; width:auto !important;}
#feedbacklite_box input.subscribe{font-size:12px !important; height:30px !important; min-height:30px !important; padding:7px 10px !important; width:75px !important;}
#feedbacklite_box input.text, #feedbacklite_box input.text_sml{-moz-box-sizing:border-box !important; -webkit-appearance:none !important; -webkit-box-sizing:border-box !important; background-color:#fff !important; border-radius:5px !important; border:none !important; bottom:0px !important; box-sizing:border-box !important; color:#666 !important; font-family:Arial !important; font-size:12px !important; font-weight:normal !important; left:0px !important; outline-width:0 !important; right:0px !important; top:0px !important;}
#feedbacklite_box input.text{display:block !important; height:38px !important; margin:0 !important; padding:10px !important; width:100% !important;}
#feedbacklite_box input.text_sml{display:inline-block !important; height:32px !important; margin:0 10px 0 0 !important; padding:10px 5px !important; width:40px !important;}
#feedbacklite_box img{display:block !important; padding:0 !important; margin:0 !important; width:100% !important;}
#feedbacklite_box label{bottom:0px !important; color:#666 !important; display:inline-block !important; font-family:Arial !important; left:0px !important; padding:0 !important; position:relative !important; right:0px !important;}
#feedbacklite_box label.fbl_follow_up{color:#f1f1f1 !important;}
#feedbacklite_box p{bottom:0px !important; color:#f1f1f1 !important; display:block !important; font-family:Arial !important; font-size:13px !important; font-weight:normal !important; left:0px !important; line-height:17px !important; margin:2px 0 10px 0 !important; padding:0 !important; right:0px !important; text-align:left !important; top:0px !important; width:auto !important;}
#feedbacklite_box p a{color:#f1f1f1 !important; font-size:13px !important; text-decoration:underline !important;}
#feedbacklite_box textarea{-moz-box-sizing:border-box !important; -webkit-appearance:none !important; -webkit-box-sizing:border-box !important; background-color:#fff !important; border-radius:5px !important; border:none !important; bottom:0px !important; box-sizing:border-box !important; color:#666 !important; display:block !important; font-family:Arial !important; font-size:12px !important; font-weight:normal !important; height:160px !important; left:0px !important; margin:0 0 10px 0 !important; outline:none !important; padding:10px !important; right:0px !important; top:0px !important; width:100% !important;}
#feedbacklite_box .pt_10{padding-top:10px !important;}
#feedbacklite_box .pb_10{padding-bottom:10px !important;}

/* FBL:Control */
.feedbacklite_box_slider{border:none !important; z-index:999999999 !important;}
.feedbacklite_box_popup{border:none !important; border-radius:5px !important; display:block; left:0px !important; margin:0 auto !important; position:absolute !important; right:0px !important; top:20% !important; z-index:999999999 !important;}
#feedbacklite_modal{-khtml-opacity:0.6 !important; -moz-opacity:0.6 !important; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444, endColorstr=#444444)"; background-color:#444 !important; background:rgba(68,68,68,0.6) !important; display:block; filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444, endColorstr=#444444)"; filter:alpha(opacity=60) !important; left:0 !important; opacity:0.6 !important; position:absolute !important; top:0 !important; width:100% !important; z-index:999999998 !important;}
 
/* FBL:Position */
.fbl_box_tl{border-radius:0 0 5px 0 !important; left:0; top:0;}
.fbl_box_tr{border-radius:0 0 0 5px !important; right:0; top:0;}
.fbl_box_rt{border-radius:0 0 0 5px !important; right:0; top:0;}
.fbl_box_r{border-radius:5px 0 0 5px !important; right:0; top:35%;}
.fbl_box_rb{border-radius:5px 0 0 0 !important; bottom:0; right:0;}
.fbl_box_br{border-radius:5px 0 0 0 !important; bottom:0; right:0;}
.fbl_box_bl{border-radius:0 5px 0 0 !important; bottom:0; left:0;}
.fbl_box_lb{border-radius:0 5px 0 0 !important; bottom:0; left:0;}
.fbl_box_l{border-radius:0 5px 5px 0 !important; left:0; top:35%;}
.fbl_box_lt{border-radius:0 0 5px 0 !important; left:0; top:0;}

/* FBL:Box Campaign */
#feedbacklite_box .box_campaign{-webkit-box-sizing: initial !important; background-color:#444 !important; border:none !important; box-sizing:content-box !important; height:17px !important; max-height:17px !important; min-height:17px !important; padding:10px !important;}
#feedbacklite_box .box_campaign_txt_left, #feedbacklite_box .box_campaign_txt_left_indent{color:#fff !important; display:inline-block !important; float:left !important; font-size:13px !important; font-weight:bold !important; line-height:13px !important; max-width:270px !important; position:relative !important;}
#feedbacklite_box .box_campaign_txt_left{margin:0 10px 0 0 !important; top:2px !important;}
#feedbacklite_box .box_campaign_txt_left_indent{margin:0 0 0 10px !important; top:3px !important;}
#feedbacklite_box .br_top{border-radius:4px 4px 0 0 !important;}
#feedbacklite_box .br_left{border-radius:4px 0 0 0 !important;}
#feedbacklite_box .br_right{border-radius:0 4px 0 0 !important;}

/* FBL:Box Close */
#feedbacklite_box .close_left, #feedbacklite_box .close_right{-webkit-box-sizing: initial !important; background-color:#00a9c5 !important; border-radius:50% !important; border:none !important; box-sizing:content-box !important; color:#fff !important; cursor:pointer !important; display:block !important; font-size:12px!important; height:14px !important; line-height:12px !important; max-height:18px !important; min-height:14px !important; padding-top:4px !important; text-align:center !important; width:18px !important;}
#feedbacklite_box .close_left{float:left !important;}
#feedbacklite_box .close_right{float:right !important;}

/* FBL:Box Footer */
#fl_footer .submission{float:left !important;}
#fl_footer .white_label{color:#ccc !important; float:right !important; font-size:11px !important; font-style:normal !important; font-weight:normal !important; line-height:normal !important; padding:10px 2px 0 0 !important; margin:0 !important; vertical-align:top !important;}
#fl_footer .white_label svg{width:16px !important; height:20px !important;}

/* FBL:Error Handling */
#feedbacklite_box .error{background-color:#444 !important; border-bottom:none !important; color:#fff !important; display:block !important; font-size:12px !important; padding:10px 10px 8px 10px !important; position:absolute !important; top:0px !important; width:100% !important; z-index:10 !important;}
#feedbacklite_box .error_icon{background:#ff6633 url('https://product.feedbacklite.com/img/btn-error.png') no-repeat 0 0 !important; border-radius:50% !important; border:none !important; display:inline-block !important; height:18px !important; margin:0 10px 0 0 !important; width:18px !important; cursor:pointer !important;}
#feedbacklite_box .error_txt{display:inline-block !important; position:relative !important; top:-4px !important;}
#feedbacklite_box #error_fade{background-color:#444 !important; border-bottom:none !important; color:#fff !important; display:none; font-size:12px !important; line-height:12px !important; padding:10px 10px 8px 10px; position:absolute !important; top:0px !important; width:100% !important; z-index:10 !important;}
#feedbacklite_box .err_msg{padding:50px 10px 0 10px !important;}

/* FBL:Box Elements */
#feedbacklite_box .type_1{background-color:#f1f1f1 !important; border-radius:5px !important; border:none !important; box-sizing:content-box !important; height:13px !important; margin:0 0 8px 0 !important; padding:12px 0 12px 8px !important; vertical-align:top !important;}
#feedbacklite_box .type_1 label{cursor:pointer !important; font-size:11px !important; font-weight:normal !important; line-height:11px !important; top:2px !important; width:auto !important; vertical-align:top !important;}
#feedbacklite_box .type_5{background-color:#f1f1f1 !important; border-radius:5px !important; border:none !important; margin:0 0 6px 0 !important; padding:8px 8px !important;}
#feedbacklite_box .type_5 label{cursor:text !important; font-size:12px !important; font-weight:normal !important; line-height:12px !important; top:10px !important; width:auto !important; vertical-align:top !important;}

/* Rating */
#feedbacklite_box #fbl_rating{display:inline-block !important; margin:0 !important; padding:0 !important;}
#feedbacklite_box #fbl_rating li{background-color:#f1f1f1 !important; border:none !important; box-sizing:content-box !important; color:#666 !important; cursor:pointer !important; display:inline-block !important; font-size:14px !important; font-weight:bold !important; list-style-type:none !important; padding:10px 0 !important; text-align:center !important;}
#feedbacklite_box #fbl_rating li.s2_top_first{border-radius:5px 0 0 0 !important; width:59px !important;}
#feedbacklite_box #fbl_rating li.s2_top{border:none !important; height:15px !important; line-height:15px !important; margin:0 1px 1px 0 !important; width:59px !important;}
#feedbacklite_box #fbl_rating li.s2_top_last{border-radius:0 5px 0 0 !important; border:none !important; height:15px !important; line-height:15px !important; width:58px !important;}
#feedbacklite_box #fbl_rating li.s2_btm_first{border-radius:0 0 0 5px !important; width:59px !important;}
#feedbacklite_box #fbl_rating li.s2_btm{border:none !important; height:15px !important; line-height:15px !important; margin:0 1px 10px 0 !important; width:59px !important;}
#feedbacklite_box #fbl_rating li.s2_btm_last{border-radius:0 0 5px 0 !important; border:none !important; height:15px !important; line-height:15px !important; width:58px !important;}
#feedbacklite_box #fbl_rating li.s3_first{border-radius:5px 0 0 5px !important; width:50px !important;}
#feedbacklite_box #fbl_rating li.s3{border:none !important; height:17px !important; line-height:17px !important; margin:0 1px 10px 0 !important; width:51px !important;}
#feedbacklite_box #fbl_rating li.s3_last{border-radius:0 5px 5px 0 !important; border:none !important; height:17px !important; width:50px !important;}
#feedbacklite_box #fbl_rating li.br_bl{border-radius:5px 0 0 5px !important; margin:0 1px 10px 0 !important;}
#feedbacklite_box #fbl_rating li.br_br{border-radius:0 5px 5px 0 !important; margin:0 1px 10px 0 !important;}

/* Rating (Smiley) */
#feedbacklite_box #smiley{height:50px !important; margin:0 0 10px 1px !important; padding:0 !important; width:300px !important;}
#feedbacklite_box #smiley li{background-image:url("https://product.feedbacklite.com/img/sprite-smiley-faces.svg") !important; background-repeat:none !important; cursor:pointer !important; display:inline-block !important; height:50px !important; list-style-type:none !important; width:50px !important; margin:0 12px 0 0 !important;}
#feedbacklite_box #smiley li#smiley_1{background-position:-1px -1px;}
#feedbacklite_box #smiley li#smiley_2{background-position:-63px -1px;}
#feedbacklite_box #smiley li#smiley_3{background-position:-125px -1px;}
#feedbacklite_box #smiley li#smiley_4{background-position:-187px -1px;}
#feedbacklite_box #smiley li#smiley_5{background-position:-249px -1px; margin:0 0 0 0 !important;}
#feedbacklite_box #smiley li#smiley_1.face{background-position:-1px 51px !important;}
#feedbacklite_box #smiley li#smiley_2.face{background-position:-63px 51px !important;}
#feedbacklite_box #smiley li#smiley_3.face{background-position:-125px 51px !important;}
#feedbacklite_box #smiley li#smiley_4.face{background-position:-187px 51px !important;}
#feedbacklite_box #smiley li#smiley_5.face{background-position:-249px 51px !important;}

/* Thumbs */
#feedbacklite_box .fbl_thumb_loc{display:block !important; width:165px !important;}
#feedbacklite_box .fbl_thumb_center{margin:0 auto !important;}
#feedbacklite_box .fbl_thumb_right{margin:0 0 0 135px;}
#feedbacklite_box .fbl_thumb_c{background-color:#555; background-repeat:no-repeat !important; border-radius:5px !important; cursor:pointer !important; display:block !important; float:left !important; height:50px !important; padding:10px !important; width:52px !important;}
#fbl_thumb_up{background-image:url("https://product.feedbacklite.com/img/btn-thumbs-up.png"); background-position:10px 10px !important;}
#fbl_thumb_down{background-image:url("https://product.feedbacklite.com/img/btn-thumbs-down.png"); background-position:10px 12px !important;}

/* Follow Up */
#feedbacklite_box table.follow_up{background-color:#fff !important; background-image:none !important; border-spacing:0 !important; border:none !important; box-shadow:none !important; font-size:100% !important; margin:15px 0 0 0 !important; padding:0 !important;}
#feedbacklite_box table.follow_up tr{background-color:#fff !important; background-image:none !important; border:none !important; text-indent:0 !important;}
#feedbacklite_box table.follow_up td{background-color:#fff !important; background-image:none !important; border:none !important; height:38px !important; line-height:normal !important; margin:0 !important; outline-width:0 !important; padding:0 0 10px 0 !important; text-shadow:none !important; text-transform:none !important;}

/* RTR */
#feedbacklite_box p.rtr{font-size:12px !important; margin:0 0 2px 5px !important;}
#feedbacklite_box p.note{font-size:11px !important; margin:0 !important;}
#feedbacklite_box .bar{background-color:#00a9c5; border-radius:5px !important; display:block !important; float:left !important; height:30px !important; line-height:30px !important; margin:0 0 10px 0 !important; min-width:5px !important;}
#feedbacklite_box .percent{color:#ccc; display:block !important; float:left !important; font-size:14px !important; font-weight:bold !important; line-height:30px !important; padding:0 0 0 5px !important;}
#feedbacklite_box .responses{color:#fff; display:block !important; font-size:14px !important; font-weight:bold !important; line-height:30px !important; padding:0 0 0 5px !important;}

/* Responsive */
@media all and (max-width:560px){
	/* Box */
	.fbl_box_lrg{width:320px !important;}
	
	/* Rating Scale */
	#feedbacklite_box #fbl_rating li.s3_first{border-radius:5px 0 0 0 !important; width:59px !important;}
	#feedbacklite_box #fbl_rating li.s3{height:15px !important; margin:0 1px 1px 0 !important; width:59px !important;}
	#feedbacklite_box #fbl_rating li.s3_last{border-radius:0 0 5px 0 !important; height:15px !important; margin:0 1px 10px 0 !important; width:59px !important;}
	.s3_5{border-radius:0 5px 0 0 !important;}
	.s3_6{border-radius:0 0 0 5px !important;}
}
@media all and (max-width:340px){
	/* Box */
	.fbl_box_sml, .fbl_box_med, .fbl_box_lrg{width:300px !important;}
	
	/* Rating Scale */
	#feedbacklite_box #fbl_rating li.s2_top_first, #feedbacklite_box #fbl_rating li.s2_btm_first, #feedbacklite_box #fbl_rating li.s3_first{width:55px !important;}
	#feedbacklite_box #fbl_rating li.s2_top, #feedbacklite_box #fbl_rating li.s2_btm, #feedbacklite_box #fbl_rating li.s3{width:55px !important;}
	#feedbacklite_box #fbl_rating li.s2_top_last, #feedbacklite_box #fbl_rating li.s2_btm_last, #feedbacklite_box #fbl_rating li.s3_last{width:54px !important;}	
}