/**
 * General
 */
.home-jumbotron-no-ilustrator .jumbotron-wrapper {
  margin-top: 30px;
  height: 500px;
}

a.lbl-sponsored{
	background:#E27585 !important;
	color:#FFF !important;
}

table {
	margin-bottom: 20px;
}

table th, tr, td {
	padding:7px;
	border: 1px solid #dedede;
}	

/** 
 * Articles
 */
 .top-ten-title{
 	margin-top:50px;
 }

 .article-tab-content-top{
 	padding-left:15px;
 }

 .media-top{
 	padding:20px;
 	font-weight: bold;
 }

 .media-top img{
 	margin-right: 40px;
 }

/** 
 * Jobs
 */
 .sidebar-job-detail .media {
 	margin-bottom:30px;
 }

 .sidebar-job-detail .media-body .title{
	margin-bottom:5px;
 }

 .sidebar-job-detail .media-body .title a {
	padding:0px;
	margin:0px;
	color:#444;
	font-weight: bold;
	margin-bottom:10px;
 }
 
 .sidebar-job-detail .media-body a {
	color:#444;
 }
 
 .jobs h4{
	font-weight: bold;
	margin-bottom: 15px;
 }

 .jobs .section{
	margin-bottom: 30px;
 }

 .job-box{
 	background:#FFF; 
 	padding:20px;
 	margin-bottom:30px;
 	box-shadow:1px 1px 1px #dedede;
 	display: block;
 }

 .job-box img{
 	margin-bottom: 20px;
 	height: 50px;
 }
 
 .job-box .title{
 	color:#444;
 	font-size: 20px;
 	font-weight: bold;
 	margin-bottom: 5px;
 }

 .job-box .title a{
 	color:#444;
 }

 .job-box .company{
 	font-size: 14px; 
 }

 .job-box .type{
 	color:#ada8a8;
 	font-size: 12px; 
 }

 .job-box .job-body {
 	min-height: 150px;
 	position: relative;
 }

 .job-box .job-body .posted{
 	font-size: 12px;
 	margin-top: 0px;
 	position: absolute;
 	bottom: 0px;
 	color:#ada8a8;
 }
 
 .jobs-head .logo{
	border:1px solid #dedede;
	padding:10px;
	margin-bottom: 0px;
 }

 .content-head.jobs-header{
 	padding-bottom:0px;
 }

 .content-body.jobs-body{
 	padding-top:0px;
 }
 
 .applicant-form-wrapper{
 	padding:40px;
 	background: #FFF;
 	box-shadow:1px 1px 1px #dedede;
 }

 .applicant-form h3{
 	margin-bottom: 40px;
 }

 .applicant-form h4{
 	font-weight: bold;
 	font-size: 15px;
 }

 .applicant-form-menu ul{
 	margin:0px;
 	padding:0px;
 	margin-bottom: 50px;
 }

 .applicant-form-menu li{
 	padding:0px;
 	margin:0px;
 	display:inline;
 	margin-right: 20px;
 	font-size: 15px;
 }

 .applicant-form-menu li a{
 	color:#dedede;
 	margin:0px;
 }

 .applicant-form-menu li a.active{
 	color:#3A9389;
 	font-weight: bold;
 }
	
 .experience-list{
 	padding:10px;
 	background:#f0f0f0;
 	color:#444;
 	margin-bottom:10px;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	-ms-border-radius: 5px;
 	-o-border-radius: 5px;
 	border-radius: 5px;
 	font-size: 12px;
 }

 .jumbotron-jobs-profile{
	background: #20231E;
	padding-top: 50px;
	padding-bottom: 35px;
	color: #ffffff;
 }

 .company-profile-head .logo{
	padding:3px;
	margin-bottom: 20px;
 }

 .company-profile-head a{
	color:#FFF;
 }